input[type="file"] {
    display: none;
}

button, .file-upload-button:has(input[type="file"]) {
    padding: 10px;
    margin: 10px;
    /*border-radius: 10px;*/
    background-color: white;
    border: 1px black solid;
    box-shadow: -1.5px 3px 5px rgba(0, 0, 0, 0.2)
}

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

#gallery div:nth-child(1) {
    padding: 0;
}


#gallery div {
    box-shadow: -1.5px 3px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    object-fit: contain;
    overflow: hidden;
    max-width: 800px;
    max-height: 600px;
}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
