#days {
    margin-bottom: 20px;
}

.card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

.card > *:not(.vr) {
    margin-top: auto;
    margin-bottom: auto;
}

.vr {
    border-left: 1px solid;
    margin: 0 20px;
}

.info *:not(:last-child)::after {
    content: "\00B7";
    margin-left: 10px;
    margin-right: 10px;
}
