{% macro screensaver_settings(config) %}
	<div id="screensaver-settings" class="card mb-4">
		<div class="card-body">
			<h4 class="mb-3">Screensaver Settings</h4>
			<form method="POST" action="">
				<div class="mb-3">
					<label for="screensaver_delay_input" class="form-label">Screensaver Delay</label>
					<div class="input-group">
						<input class="form-control" id="screensaver_delay_input"
						       name="screensaver_delay" type="number" min="0" max="3600" required
						       value="{{ config['screensaver_delay'] }}">
						<span class="input-group-text">seconds</span>
					</div>
					<div class="form-text mt-2">Set to 0 to disable the screensaver.</div>
				</div>

				<div class="mb-3">
					<label for="screensaver_rotate_delay_input" class="form-label">Photo Rotation</label>
					<div class="input-group">
						<input class="form-control" id="screensaver_rotate_delay_input"
						       name="screensaver_rotate_delay" type="number"
						       min="1" max="3600" required
						       value="{{ config['screensaver_rotate_delay'] }}">
						<span class="input-group-text">seconds</span>
					</div>
				</div>

				<div class="text-end">
					<button type="submit" class="btn btn-primary">
						<i class="bi bi-save me-2"></i>Save Screensaver Settings
					</button>
				</div>
			</form>
		</div>
	</div>
{% endmacro %}
