{% extends "base.html" %}

{% block title %}Screensaver{% endblock %}

{% block body %}
<div class="vw-100 vh-100 bg-black d-flex align-items-center justify-content-center">
    <img src="{{ image }}" class="img-fluid" style="max-height: 100vh; max-width: 100vw; object-fit: contain;">
</div>

<script>
    // Return to display page on any interaction
    function returnToDisplay() {
        window.location.href = "/display/";
    }

    document.addEventListener('mousemove', returnToDisplay);
    document.addEventListener('keypress', returnToDisplay);
    document.addEventListener('click', returnToDisplay);
    document.addEventListener('touchstart', returnToDisplay);

    // Auto-advance to next photo
    setTimeout(() => {
        window.location.href = `/screensaver/?num={{ num + 1 }}`;
    }, {{ delay }} * 1000);  // Convert seconds to milliseconds
</script>
{% endblock %}
