{% extends "base.html" %}

{% block title %}Screensaver{% endblock %}

{% block body %}
	<div class="card bg-dark rounded-bottom-3 rounded-right-5 position-fixed top-10 start-10 fs-1 fw-bold p-2 text-white"
	     id="clock">
		12:00
	</div>
	<div class="vw-100 vh-100 bg-black d-flex align-items-center justify-content-center m-0 p-0">
		<!-- Backward Button -->
		<button id="back_btn"
		        class="btn btn-dark position-absolute top-50 start-0 translate-middle-y text-white"
		        aria-label="Previous">
			<i class="bi bi-arrow-left fs-1"></i> <!-- Bootstrap Left Arrow Icon -->
		</button>


		<!-- Screensaver Image -->
		<img src="{{ image }}" id="screensaver" class="object-fit-cover mw-100 mh-100">

		<!-- Forward Button -->
		<button id="forward_btn"
		        class="btn btn-dark position-absolute top-50 end-0 translate-middle-y text-white"
		        aria-label="Next">
			<i class="bi bi-arrow-right fs-1"></i> <!-- Bootstrap Right Arrow Icon -->
		</button>
	</div>
	<script defer>
      window.screensaver_delay = {{ delay }} * 1000;
      window.images = {{ images|tojson }};
	</script>
	<script src="/static/js/screensaver.js"></script>
{% endblock %}
